<!DOCTYPE html>
<html lang="en">
<head>

  <title>My Project</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!-- Добавление дополнительного статического CSS файла -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<h1 align="center">Local Menu</h1>

  <p>Welcome to my project.</p>
  <p><strong>Title:</strong> <a href="{{ menu.get_absolute_url }}">{{ menu.title }}</a></p> <!-- author detail link not yet defined -->
  <p><strong>Main:</strong> {{ menu.text_main }}</p>
  <p><strong>Price:</strong> {{ menu.price }}</p>
<h2>Dynamic content</h2>
{% for menu in menu_list %}
      <li>
        <a href="{{ menu.get_absolute_url }}">{{ menu.title }}</a> ({{ menu.price}})
      </li>
      {% endfor %}
  <a href="{{ menu.get_absolute_url }}">{{ menu.title }}</a> ({{ menu}})
  <p>The library has the following record counts:</p>
  <ul>
    <li><strong>Menu:</strong> {{ num_menu }}</li>
  </ul>


</body>
</html>